.navbar {
    background-color: cornflowerblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: padding-top 0.3s, padding-bottom 0.3s;
}

.navbar-brand {
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
}

.navbar-brand:hover {
    color: midnightblue;
}

.navbar-toggler {
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
}

.navbar-toggler-icon {
    background-color: #fff;
    border-radius: 2px;
    padding: 2px;
}


.navbar-nav .nav-link {
    color: #fff;
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #1977cc;
    z-index: -1;
}

@media (max-width: 576px) {
    .navbar-nav {
        margin-top: 0;
        display: none;
    }

    .navbar-collapse {
        margin-top: 10px;
    }

    .navbar-toggler {
        display: block;
    }
}

main {
    padding-top: 60px;

}

input[type=text] {
    height: 25px;
    font-size: 14px;
    padding: 6px 6px;
    border-radius: 15px;
}

input[type=password] {
    height: 30px;

    font-size: 16px;
    padding: 6px 6px;
    border-radius: 15px;
}

.emtpy {
    padding-top: 60px;
    height: 90vh;
}

#id_gender {
    color: #007bff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
}

#id_histology_diagnose {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 100px;
    background-color: transparent;
}

#id_stage {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: transparent;

}
#id_her2 {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: transparent;

}
#id_er {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: transparent;

}

#id_pr {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: transparent;

}

#id_ki_67 {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    font-size: 16px;
    background-color: transparent;

}
#id_medication {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: transparent;
}
#id_duration_days {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 25px;
    width: 100px;
    background-color: transparent;
}
#id_instructions {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    height: 100px;
    background-color: transparent;
}

.form-group label {
    vertical-align: top;
    color: #007bff;
    font-family: 'Montserrat', sans-serif;
}

option {
    color: #002589;
    font-family: 'Montserrat', sans-serif;
}

option::selection {
    color: #002589;
    font-family: 'Montserrat', sans-serif;
}

option:checked {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: #007bff;
}

.hero {
    height: 80vh;
    background: url('images/hero-bg.jpg') center/cover no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

footer {
    height: 20vh;
    font-family: 'Montserrat', sans-serif;
}

.footer-padding {
    padding-top: 30px;
}

.card-blur {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 20px;
    padding: 40px;
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: cornflowerblue;
}


.card-blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 254, 255, 0);
    z-index: -1;
    border-radius: 20px;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

}

.text-primary2 {
    color: cornflowerblue;
}

.btn-view {
    width: 70px;
    color: #411997;
    border-color: #411997;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
    margin-bottom: 10px;

}

.btn-view:hover {


    background-color: #411997;
    color: white;
    border-color: #411997;

}

.btn-add {
    width: 70px;
    background-color: #027700;
    color: white;
    border-color: #027700;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
    margin-bottom: 10px;

}

.btn-add:hover {

    color: #027700;
    border-color: #027700;
    background: rgba(255, 255, 255, 0.2);
}

.btn-history {
    width: 70px;
    background-color: #696969;
    color: white;
    border-color: #696969;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
    margin-bottom: 5px;

}

.btn-history:hover {

    color: #696969;
    border-color: #696969;
    background: rgba(255, 255, 255, 0.2);
}

.card-btn-primary2 {
    color: cornflowerblue;
    border-color: cornflowerblue;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.card-btn-primary2:hover {
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}

.card-btn-edit {
    background-color: #411997;
    color: white;
    border-color: #411997;
    width: 100px;
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
}

.card-btn-edit:hover {
    color: #411997;
    border-color: #411997;
    background: rgba(255, 255, 255, 0.2);
}

.btn-primary2 {
    margin-top: 30px;
    margin-bottom: -50px;
    color: cornflowerblue;
    border-color: cornflowerblue;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.btn-primary2:hover {
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;

}

.form-group.search label{
    vertical-align: middle;
}

.form-btn-primary2.search {
    margin-bottom: 20px;
}

.table2 {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-btn-primary2 {
    margin-top: 30px;
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
    display: inline-block;
    padding: 6px 30px 8px 30px;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.form-btn-primary2:hover {
    color: cornflowerblue;
    border-color: cornflowerblue;
    background: rgba(255, 255, 255, 0.2);

}

.bg-primary2 {
    background-color: cornflowerblue;
}

.hero-login-h3 {
    flex: initial;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: midnightblue;

}

.card-section {
    padding: 80px 0;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;

}

.card-header {
    background-color: cornflowerblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #F3F3F3;
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f2;
}

.card-body {
    padding: 20px;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #777;
    line-height: 1.6;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 576px) {
    .card-img-top {
        height: 150px;
    }
}

.form-label2 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.form-control2 {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-control2:focus {
    background-color: transparent;
    outline: none;
    border-bottom-color: #007bff;

}

.form-control2::placeholder {
    color: #888;
    font-size: 10px;
}

/*!* Hide default radio buttons *!*/
/*input[type="radio"] {*/
/*    display: none;*/
/*}*/

.form-check-input:checked + .form-check-label.custom-radio-label {
    border-color: #0069d9;
    background: #0069d9;
    color: #fff;
}

.form-check-label.custom-radio-label {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.form-check-label.custom-radio-label span {
    font-size: 20px;
    color: #606fff;

}

.form-check-input:checked + .form-check-label.custom-radio-label span {
    color: #460000;
}


.map-outer {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    height: 400px !important;
}

.about-section {
    padding: 60px 0;
    background-color: #f7f7f7;
    text-align: center;
}

.about-section h3 {
    color: #1977cc;
    margin-bottom: 20px;
}

.about-section h4 {
    color: #1977cc;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
}

.why-us .content {
    padding: 30px;
    background: #1977cc;
    border-radius: 4px;
    color: #fff;
}

.why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.why-us .content p {
    margin-bottom: 30px;
}

.why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
    font-size: 14px;
}

.why-us .content .more-btn:hover {
    color: #1977cc;
    background: #fff;
}

.why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
}

.why-us .icon-boxes .icon-box i {
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}

table th {
    /* Add your styles here */
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* CSS to style <td> (table data) elements */
table td {
    /* Add your styles here */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;

}

/* Optional: Add hover effect on table rows */
table tr:hover {
    background-color: #f5f5f5;
}

.appointment-poll-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-poll-form h2 {
    margin-bottom: 30px;
    color: #007bff;
}
