.hero {
    height: 75vh;
    background: url('images/hero-bg.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.card-blur {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 20px;
    padding: 40px;
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: cornflowerblue;
}

.card-blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 254, 255, 0);
    z-index: -1;
    border-radius: 20px;
}

#nav {
    background-color: cornflowerblue;
}

.navbar-brand {
    font-size: 2.0rem; /* Adjust the font size for OncoConnect */

}

.nav-item a {
    font-size: 1.3rem; /* Adjust the font size for menu items */
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

}

.text-primary2 {
    color: cornflowerblue;
}

.btn-primary2 {

    background-color: transparent;
    color: cornflowerblue;
    border-color: cornflowerblue;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
}

.btn-primary2:hover {
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;

}

.hero-login-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

.card-section {
    margin-top: -90px;
}
.why-us .content {
  padding: 30px;
  background: #1977cc;
  border-radius: 4px;
  color: #fff;
}

.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
  font-size: 14px;
}

.why-us .content .more-btn:hover {
  color: #1977cc;
  background: #fff;
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}

.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}