{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section style="background-color: #eee;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="display-4 mb-4 hero-login-h3 my-4 text-center">Doctor profile</h1>

                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ doctor }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="{% static 'images/Doctor-icon.jpg' %}"
                                     alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">{{ doctor.first_name }} {{ doctor.last_name }}</h5>
                                <p class="text-muted mb-4">{{ doctor.specialization }}</p>
                                <p class="text-muted mb-4">{{ doctor.experience }} years</p>
                                <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                                {#            <div class="d-flex justify-content-center mb-2">#}
                                {#              <button type="button" class="btn btn-primary">Follow</button>#}
                                {#              <button type="button" class="btn btn-outline-primary ms-1">Message</button>#}
                                {#            </div>#}
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ doctor }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ doctor.user.email }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ doctor.phone_number }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">UIN number</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ doctor.uin_number }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <a class="btn card-btn-primary2" href="{% url 'index' %}">Back</a>
                                <a class="btn card-btn-edit"
                                   href="{% url 'doctor edit' pk=doctor.pk %}">Edit</a>

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
