{% extends 'base.html' %}
{% block content %}
    <div class="container mb-5 text-center">
        <h1 class="display-4 mb-4 hero-login-h3 my-4 text-center">History appointments</h1>

        <form method="get" class="form-group search">
            {{ my_filter.form }}

            <button type="submit" class="form-btn-primary2 search">Search</button>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Patient Name</th>
                <th>Doctor Name</th>
                <th>Symptoms</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr class="clickable" onclick="window.location='{% url 'view appointment' pk=appointment.pk %}'">
                    <td>{{ appointment.pk }}</td>
                    <td>{{ appointment.patient }}</td>
                    <td>{{ appointment.doctor }}</td>
                    <td>{{ appointment.symptoms }}</td>
                    <td>{{ appointment.for_date }}</td>
                    <td>{{ appointment.status }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No appointments found.</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="row">
            <a class="btn btn-primary2 mx-4 mb-4" href="{% url 'index' %}">Return</a>

        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {#    <span class="step-links">#}
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">Previous</a></li>

                {% endif %}
                {% for item in paginator %}

                    {% if item.number == page_obj.number %}
                        <li class="page-item active" aria-current="page"><span class="page-link">{{ item.number }}</span></li>
                    {% else %}
                     <li class="page-item"><a class="page-link"
                                             href="?page={{ item.number }}">{{ item.number }}</a></li>
                    {% endif %}
                    {#        <span class="current">#}
                    {#                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
                    {#        </span>#}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {#    </span>#}
    </div>



{% endblock %}
