<!-- history_appointments.html -->
<!DOCTYPE html>
<html>
<head>
    <title>History Appointments</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>History Appointments</h1>
    <form method="get">
        {% csrf_token %}
        {{ my_filter.form }}

        <button type="submit">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Symptoms</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.pk }}</td>
                <td>{{ appointment.patient }}</td>
                <td>{{ appointment.doctor }}</td>
                <td>{{ appointment.symptoms }}</td>
                <td>{{ appointment.for_date }}</td>
                <td>{{ appointment.status }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No appointments found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Add Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
