{% extends 'base.html' %}
{% block content %}
    <!-- Welcome Section -->
    <section class="hero my-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card card-blur h-100 d-flex flex-column justify-content-center">
                        <div class="card-body">
                            {{ request.user }}

                            <h1 class="display-4 hero-login-h3">Welcome to OncoConnect!</h1>
                            <p class="lead text-secondary">A specialized medical app for oncology patients.</p>
                            <a class="btn btn-primary2" href="#" role="button">Learn more</a>
                        </div>
                    </div>
                </div>

                <!-- Login Form -->
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card card-blur h-100 d-flex flex-column justify-content-center">
                        <div class="card-body">
                            <!-- Add your login form here -->
                            <h3 class="display-4 hero-login-h3">Login</h3>
                            <div class="container">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary2">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Other Sections (Cards)  -->
    <section id='services' class="container card-section">
        <h3  class="section-title text-center mb-4">Services</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <h5 class="card-header card-title text-primary2">Personalized Care Plans</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Get access to tailored treatment plans designed specifically for your unique needs and
                            medical
                            history.
                            Our experienced oncologists create personalized care plans to optimize your recovery
                            journey.
                        </p>
                    </div>
                    <img src="../static/images/treatment.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <h5 class="card-header card-title text-primary2">Oncology Status Updates</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Receive real-time updates and insights about your oncology status from our dedicated
                            team of oncologists. Stay informed about your health progress and track any changes in
                            your
                            condition.
                        </p>
                    </div>
                    <img src="../static/images/care.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <h5 class="card-header card-title text-primary2">Appointments Scheduling</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Easily schedule and manage your oncology appointments with our user-friendly interface.
                            Stay on top of your treatment plan by setting up reminders and receiving notifications
                            for
                            upcoming
                            appointments.
                        </p>
                    </div>
                    <img src="../static/images/elvira-stoyanova-photo.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </section>


    <h3 id='about' class="section-title text-center mb-4">About</h3>
    <section  class="jumbotron jumbotron-fluid about-section">

        <div class="container">
            <h3 class="display-4">Empowering Oncology Patients with Advanced Care and Support</h3>
            <p class="lead">
                At OncoConnect, we are dedicated to revolutionizing the way oncology patients receive care and support.
                Our specialized telemedicine app is designed to empower patients and enhance their journey through
                cancer treatment.
            </p>
        </div>
    </section>

    <div class="container my-5">
        <div class="map-outer">
            <div class="gmap_canvas">
                <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Burgas, Комплексен онкологичен център Корпус 3&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                <a href="https://connectionsgame.org/">Connections Game</a></div>
        </div>
    </div>
{% endblock %}
