<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
<h1>Welcome to the Index Page</h1>

{% if user.is_authenticated and request.user.is_superuser or request.user.is_staff %}
    <h1>Hello!</h1>
    <h2>Info about current user:</h2>
    <a href="/admin">Admin panel</a>
{% elif user.is_authenticated %}
    <h1>Hello!</h1>

    {% if is_doctor %}
        <h1>Staff: {{ request.user.is_staff }}</h1>
        <h2>Info about current user:</h2>
        <p>{{ profile }}</p>
        <p>{{ profile.specialization }}</p>
        <p>{{ profile.experience }} years</p>
    {% else %}
        <h2>Patient:</h2>
        <p>{{ profile.first_name }}</p>
        <p>{{ profile.middle_name }}</p>
        <p>{{ profile.last_name }}</p>
        <p>{{ profile.phone_number }}</p>
    {% endif %}
    <br>

{% else %}
    <p>Hello, guest!</p>
{% endif %}

<a href="{% url 'logout' %}">Sign Out</a>
</body>
</html>