{% extends 'base.html' %}
{% block content %}
    <div class="emtpy">
        <div class="container  text-center">
            <div class="appointment-poll-form">
                <h1 class="mt-5 display-4 mb-4 hero-login-h3">Edit Profile</h1>
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <div class="mb-3 form-group">
                        {{ form.as_p }}

                    </div>
                    <div class="my-4">
                        <a href="{{request.META.HTTP_REFERER}}" class="btn card-btn-primary2">Back</a>
                        <button type="submit" class="btn card-btn-edit">Edit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}