{% extends 'base.html' %}

{% block content %}
<div class="emtpy">
    <div class="container">
                        {% include 'messages.html' %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-blur">
                    <div class="card-body">
                        <h3 class="hero-login-h3">Register</h3>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-floating mb-3 mb-4">
                                    <label for="{{ field.id_for_label }}" class="form-label2">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary2">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}