{% extends 'base.html' %}

{% block content %}
    <div class="emtpy">
        <div class="container  text-center">
            <div class="appointment-poll-form">
                <h1 class="mt-5 display-4 mb-4 hero-login-h3">Schedule Appointment</h1>
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.doctor.id_for_label }}">Doctor</label>
                        {{ form.doctor }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.for_date.id_for_label }}">Date</label>
                        {{ form.for_date }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.for_time.id_for_label }}">Time</label>
                        {{ form.for_time }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.symptoms.id_for_label }}">Symptoms</label>
                        {{ form.symptoms }}
                    </div>

                    {# Add other fields here if needed #}

                    <input type="hidden" name="patient" value="{{ form.initial.patient.pk }}">
                    <button type="submit" class="btn form-btn-primary2">Schedule</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
