{% extends 'base.html' %}
{% block content %}
        <div class="container  text-center my-5">
            <div class="appointment-poll-form">
                <h1 class="mt-5 display-4 mb-4 hero-login-h3">Update Appointment Status</h1>
                <p class="card-header text-primary2 mb-4 text-center">{{ appointment.patient }}</p>

                <form method="post" class="text-center">
                    {% csrf_token %}
                    <div class="mb-3 form-group">
                        {{ form.as_p }}

                    </div>
                    <div class="my-4">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn card-btn-primary2">Back</a>
                        <button type="submit" class="btn card-btn-edit">Update</button>
                    </div>
                </form>
            </div>

        </div>
{% endblock %}