{% extends 'base.html' %}
{% block content %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4 mb-4 hero-login-h3 my-4 text-center">Oncology status</h1>
                    <p class="card-header text-primary2 mb-4 text-center">{{ oncology_status.patient }}</p>

                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a
                                    href="{% url 'patient details' pk=oncology_status.patient.pk %}">{{ oncology_status.patient.get_full_name }}</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-sm-3">
                                    <p class="mb-0">Histology Diagnosis: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ oncology_status.histology_diagnose }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">TNM:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ oncology_status.tnm }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Stage:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ oncology_status.stage }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">HER2:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ oncology_status.get_her2_display }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">ER:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ oncology_status.get_er_display }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">PR:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ oncology_status.get_pr_display }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Ki-67:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ oncology_status.ki_67 }} %</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Start Date:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ oncology_status.start_date }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <a class="btn card-btn-primary2 mb-4" href="{% url 'index' %}">Back</a>
                            {% if request.user.groups.all.0.name == 'Doctors' %}
                                <a class="btn card-btn-edit mb-4"
                                   href="{% url 'update oncology status' pk=oncology_status.patient.pk onco_status=oncology_status.pk %}">Edit</a>

                            {% endif %}

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>


            </div>
        </div>
{% endblock %}